/* custom css rules */

body {
	font-family: 'Courier New', monospace;
	font-size: 15px
}

select {
	border: 1px solid lightgrey;
	background-color: #E8E8E8;
	vertical-align: middle
}

.button {
	border: 1px solid lightgrey;
	background-color: #E8E8E8;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 6px;
	vertical-align: middle;
}

div#tuners {
	font-size:12px;
}

div#saved {
	height: auto;
	overflow: scroll;
}

select#key_note {
	margin-right: 1vw;
}

.cs {
	font-size: 12px;
	height: 20px
}
